/* ==
700 status bars
500 dominent theme
300 secondary info

accent colors are brighter
*/
* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: inherit; }

html, body {
  margin: 0;
  font-size: 62.5%;
  font-family: open-sans; }

body {
  font-size: 1.6rem; }

h1, h2, h3, h4, p, ul {
  margin: 0 0 2.5rem; }

img {
  max-width: 100%;
  height: auto; }

/* ==
700 status bars
500 dominent theme
300 secondary info

accent colors are brighter
*/
.app {
  position: relative;
  border-top: 60px solid #1976D2; }
  .app__topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1976D2;
    color: #fff;
    padding: 15px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
    .app__topnav .material-icons {
      font-size: 3.4rem; }
  .app__drawer {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    overflow: hidden;
    z-index: 10;
    min-height: 100vh;
    background: #fff;
    border-right: 1px solid #ccc;
    z-index: 201;
    transform: translate3d(-300px, 0, 0);
    transition: transform 195ms cubic-bezier(0.4, 0, 1, 1); }
    .app__drawer--open {
      transform: translate3d(0, 0, 0);
      transition: transform 195ms cubic-bezier(0.4, 0, 1, 1); }
    .app__drawer__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll; }
  .app__shield {
    z-index: 200 !important;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 195ms ease-in; }
    .app__shield--open {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.2);
      transition: opacity 195ms ease-in;
      pointer-events: auto;
      opacity: 1; }

header {
  background: #2196F3;
  color: #fff;
  padding: 15px;
  margin: 0 0 25px; }

main {
  padding: 15px; }

.mdl-card {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 25px;
  min-height: 0;
  position: static; }
  .mdl-card, .mdl-card__actions {
    overflow: visible; }

.dice-rolled-table {
  text-align: center;
  width: 100%;
  max-width: 450px; }
  .dice-rolled-table th:first-child,
  .dice-rolled-table td:first-child {
    text-align: right; }

.dice {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 3px; }
  .dice__row {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box; }
  .dice__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    box-sizing: border-box; }

/* ==
700 status bars
500 dominent theme
300 secondary info

accent colors are brighter
*/
.dice-form {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .dice-form > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 33%;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    background: #fff; }

.fab {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100; }
  .fab__shield {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 195ms ease-in; }
  .fab__button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 1.2rem;
    background: #26A69A;
    color: #fff; }
  .fab__drawer {
    position: absolute;
    left: 50%;
    width: 90%;
    padding: 15px;
    transform: translate3d(-50%, 10%, 0);
    transition: transform 195ms cubic-bezier(0.4, 0, 1, 1);
    z-index: 3; }
  .fab__open .fab__shield {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 195ms ease-in;
    pointer-events: auto;
    opacity: 1; }
  .fab__open .fab__drawer {
    transform: translate3d(-50%, -115%, 0);
    transition: transform 195ms cubic-bezier(0.4, 0, 1, 1); }
