@import '../base/mixins.scss';

.app {
  position: relative;
  border-top: 60px solid $main-700;

  &__topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: $main-700;
    color: #fff;
    padding: 15px;
    box-shadow: $boxshadow;
    
    .material-icons { font-size: 3.4rem; }
  }
  &__drawer {
    box-shadow: $boxshadow;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    overflow: hidden;
    z-index: 10;
    min-height: 100vh;
    background: #fff;
    border-right: 1px solid #ccc;
    z-index: 201;
    @include accelerateOut(-300px);

    &--open {
      @include decelerateIn();
    }

    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }

  &__shield {
    z-index: 200 !important;
    @include shield;

    &--open {
      @include shield($isOpen: true);
    }
  }
}


header {
  background: $main-500;
  color: #fff;
  padding: 15px;
  margin: 0 0 25px;
}